---
layout: default
title: Zprávy
permalink: /zpravy
---

<section class="lg:pb-40">
  <div
    id="entries"
    entriesType="news"
    class="entries-order mx-auto md:max-w-2xl lg:max-w-5xl"
  >
    <div id="entry-contorls" class="flex px-2 mb-2">
      <!-- . -->
      {% include btn-md.html class="btn-order" content="Prioritně" tag="weight"
      %}
      <!-- . -->
      {% include btn-md.html class="btn-order" content="Chronologicky"
      tag="date" %}
    </div>
    <div id="entries-container" class="grid grid-cols-1 md:grid-cols-2">
      {% for post in site.data.news | sort: 'weight' %}
      <!-- -- -->
      {%- include article-card.html -%}
      <!-- -- -->
      {% endfor %}
    </div>
  </div>
</section>
